{% extends "blog/padre.html" %} 
{% load static %} 
{% block contenidoQueCambia %}
<h1 class="alert alert-info">Sobre nosotros</h1>
<hr />
<ul class="list-group"><h4>Miembros:</h4>
    <li class="list-group-item">José Manuel Francisca Robles</li>
    <li class="list-group-item">Joaquín Gigy</li>
    <li class="list-group-item">Jordy Acosta</li>
</ul>

<div class="container">
    <div class="row">           <!-- Para nuevas linas usar <br /> -->
        <div class="col-4">
            <p class="text-justify">Joaquin Gigy - Estudiante de Python en Coderhouse. Joaquin Gigy de 23 años nacio y vivio la mayor parte de su vida en Argentina. Vivio 4 años en EE.UU. donde estudio Filosofia. Es un chico cristiano al que le encanta jugar al futbol, y pasar tiempo con amigos y familia. Hoy en dia trabaja en Food T como Encargado del Area de Marketing.</p>
        </div>
        <div class="col-4">
            <p class="text-justify">Acá va la descripción.</p>
        </div>
        <div class="col-4">
            <p class="text-justify">Acá va la descripción.</p>
        </div>
    </div>

</div>

{% endblock %}