{% extends "blog/padre.html" %} 
{% load static %} 
{% block contenidoQueCambia %}

    <h3>Director Técnico: {{ directortecnico }}</h3>
    <ul class="caracteristicas">
        <h6>Características:</h6>
        <li>Nombre: {{ directortecnico.nombre }}</li>
        <li>Apellido: {{ directortecnico.apellido }}</li>
        <li>CopasGanadas: {{ directortecnico.copasGanadas }}</li>
        <li>Equipo: {{ directortecnico.equipo }}</li>
        <li>Años Experiencia: {{ directortecnico.aniosExperiencia }}</li>
    </ul>
     
{% endblock %}