{% extends "blog/lista.html" %} 
{% load static %} 

{% block previoLista %}
    
    <h3>Directores tecnicos</h3>

    {% for director_tecnico in directores_tecnicos %}
        {{ director_tecnico }}
        <a href="{% url 'director_tecnico_delete' director_tecnico.id %}">Borrar</a>
        <a href="{% url 'director_tecnico_update' director_tecnico.id %}">Editar </a>
        <br>
    {% endfor %}

    <a class="btn btn-primary" href="{% url 'director_tecnico_add' %}">Agregar</a>

{% endblock previoLista %}

{% block titulo %}
    Directores tecnicos
{% endblock %}

        {% comment %} lista de equipos {% endcomment %}