{% extends "blog/lista.html" %} 
{% load static %} 

{% block previoLista %}
    
    <h3>Equipos registrados</h3>

    {% for equipo in equipos %}
        {{ equipo }}
        <a href="{% url 'equipo_delete' equipo.id %}">Borrar</a>
        <a href="{% url 'equipo_update' equipo.id %}">Editar </a>
        <br>
    {% endfor %}

    <a class="btn btn-primary" href="{% url 'equipo_add' %}">Agregar</a>

{% endblock previoLista %}

{% block titulo %}
    Equipos
{% endblock %}

        {% comment %} lista de equipos {% endcomment %}