{% extends 'blog/padre.html' %} 
{% load static %}

    {% comment %} NavBar {% endcomment %}

{% block contenidoQueCambia %}
    
    {% block previoLista %}
        {% comment %} Contenido antes de la lista {% endcomment %}
    {% endblock previoLista %}

        <ul id="lista">
            {% for objeto in object_list %}
            <li><a href="{% url objeto.urlNombre objeto.pk %}">{{ objeto }}</a> - 
                <a href="{% url objeto.urlDelete objeto.pk %}">Borrar</a> - 
                <a href="{% url objeto.urlUpdate objeto.pk %}">Editar</a>
                <br> </li>
            {% endfor %}
        </ul>


{% endblock contenidoQueCambia%}

    {% comment %} Footer {% endcomment %}