#usuario {
    display: flex;
    list-style: none;
}

#usuario ul {
    list-style: none;
    padding: 0;
    display: none;
    position: absolute;
    width: 100%;
    border-radius: .5em;
    overflow: hidden;
    box-shadow: 0 0 3px #888;
}

#usuario > li > ul {
    top: 100%;
    right: 0;
    width: 100%;
}

#usuario li {
    padding: 1rem;
    position: relative;
}

#usuario li:hover > ul {
    display: block;
    background-color: #ccc;
    z-index: 999;
}


#usuario ul >li:hover {
    background-color: #888;
}

.avatar-perfil {
    border-radius: 5em;
}
